{% extends "base.html" %}
{% block app_content %}
<div class="page-header">
  <h1>Project Credits</h1>
</div>
<div class = "row">
<p>Website created and ML models deployed using Flask by Sanjit Dasgupta <a href="https://github.com/sanjit-dasgupta/" target="_blank" class="btn btn-default" role="button">GitHub Profile</a></p>
</div>
<div class = "row">
<p>ML models were trained by Arnob Choudhury <a href="https://github.com/arc-arnob/" target="_blank" class="btn btn-default" role="button">GitHub Profile</a></p>
</div>
<div class = "row">
<p>View the project on GitHub <a href="https://github.com/sanjit-dasgupta/mlModelFlask/" target="_blank" class="btn btn-default" role="button">GitHub Project Repository</a></p>
</div>
{% endblock %}